@{
    ViewData["Title"] = "CAU";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@model Nsl_Core.Models.Dtos.Teacher.TeacherResume.BackTeacherResumeDto
<!-- Title -->
<section>
    <div class="backplatform-page">
        <!-- navbar -->
        <div class="open-sidenav-btn" id="navbarOpen">
            &#9776;
        </div>

        <div class="backplatform-main">
            <div class="backplatform-title">
                <h2 id="backTitle">教師資料維護</h2>
            </div>

        </div>
        <hr />
        <div class="container wow fadeInUp">
            <p class="font30px text-center">基本資料</p>
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7 mb-30 wow fadeInUp" data-wow-duration="600ms">
                    <div class="container text-center mt-3">
                        <form>
                            <div class="font20px">

                                <div class="row my-1">
                                    <div class="col-6 text-right">
                                        <label class="me-2">姓名：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <label class="me-2 span-coloronly">@Model.Name</label>
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-6 text-right">
                                        <label class="me-2">已完成課堂數：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <label class="me-2 span-coloronly">@Model.FinishCount</label>
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-6 text-right">
                                        <label class="me-2">未完成課堂數：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <label class="me-2 span-coloronly">@Model.UnfinishedCount</label>
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2" style="margin-top:10px">課程滿意度：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start" style="display: flex; align-items: center;">
                                        <label class="me-2 span-coloronly">@string.Format("{0:N1}", Model.Satisfaction)</label>
                                        <a href='@Url.Content("~/BackTeacher/Comment/")@Model.TeacherId' name="TeacherId" class="btn-backedit2" style="font-size:16px;">評論維護</a>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2">銀行代碼：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <input type="text" class="form-control div-login-form-input"
                                               id="bankAccount" readonly value="@Model.BankCodeName" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2">銀行帳號：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <input type="text" class="form-control div-login-form-input"
                                               id="bankAccount" readonly value="@Model.BankAccount" />
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2">課程收費(NT$/小時)：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        @{
                                            int? priceIntegerPart = (int?)Model.Price;
                                        }
                                        <input type="text" class="form-control div-login-form-input"
                                               id="price" readonly value="@((priceIntegerPart.HasValue) ? priceIntegerPart.Value.ToString("N0") : string.Empty)" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2">工作經驗：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <input type="text" class="form-control div-login-form-input"
                                               id="experience" readonly value="@Model.WorkExperience" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2">Email：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <input type="text" class="form-control div-login-form-input"
                                               id="email" readonly value="@Model.Email" />
                                    </div>
                                </div>

                                <div class="row my-2">
                                    <div class="col-6 text-right">
                                        <label class="me-2">電話號碼：</label>
                                    </div>
                                    <div class="col-6 div-backcoupon text-start">
                                        <input type="text" class="form-control div-login-form-input"
                                               id="phone" readonly value="@Model.Phone" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-5 div-backteacherCAU" style="border-radius:10%">
                    <img src="~/uploads/@Model.ImageName" alt="members" class="pic-backmemberCAU">
                </div>
                <hr class="col-12 mt-3">

                <div class="col-4"></div>
                <div class="mt-4 ms-2 col-4">
                    <div class="mx-auto px-3 display-inline">
                        <a href=@Url.Content("~/BackTeacher/ResumeList") class="btn btn-primary"
                           style="margin-left: 30%;">回上一頁</a>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>

    </script>
}

