@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Nsl_Core.Models.Dtos.Website.CouponDto
@{
    ViewData["Title"] = "CouponUpdate";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<!-- Title -->
<section>
    <div class="backplatform-page">
        <!-- navbar -->
        <div class="open-sidenav-btn" id="navbarOpen">
            &#9776;
        </div>

        <div class="backplatform-main">
            <div class="backplatform-title">
                <h2 id="backTitle">折價券維護</h2>
            </div>

        </div>
        <hr />
        <div class="container font20px mt-5">
            <form class="login-form mx-auto" name="formData" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">標題：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <input type="text" class="form-control div-login-form-input" id="name"
                               placeholder="請輸入標題" name="Name" value="@Model.Name"/>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">內文：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <textarea class="form-control" placeholder="請輸入內文" style="height:150px;display: inline-block; width:70%" name="Description">@Model.Description</textarea>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">折扣金額：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <input type="text" class="form-control div-login-form-input" id="cash"
                               placeholder="請輸入折扣金額" name="DiscountMoney" value="@Math.Round(Model.DiscountMoney)" />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">使用門檻：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <input type="number" class="form-control div-login-form-input" id="condition"
                               placeholder="請輸入門檻金額" name="Condition" value="@Model.Condition"/>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">上架時間：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <input type="date" class="form-control div-login-form-input" name="StartTime" value="@Model.StartTime.ToString("yyyy-MM-dd")"/>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">下架時間：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <input type="date" class="form-control div-login-form-input" name="ExpireTime" value="@Model.ExpireTime.ToString("yyyy-MM-dd")" />
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-2 pt-1 text-right">
                        <label class="me-2">上架狀態：</label>
                    </div>
                    <div class="col-10 div-backcoupon">
                        <select id="select" name="Status" class="form-select div-login-form-input">
                            
                        </select>
                    </div>
                </div>

                <hr class="col-10 mt-5">

                <div class="px-5 mt-5">
                    <div class="px-5">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        <a class="btn btn-primary" href="~/BackMaintain/CouponIndex">取消</a>
                    </div>
                </div>
                <input id="Id" name="Id" value="@Model.Id" type="hidden"/>
                <input id="Id" name="Status" value="" type="hidden" />
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        const id = document.querySelector("#Id").value;
        const select = document.querySelector("#select")
        async function GetStatus() {
            const re = await fetch(`https://localhost:7016/api/Coupons/` + id)
            const data = await re.json();
            const status = sta(data.status)
            select.innerHTML = status;
            }
        
        function sta(input){
            if (input == true) {
                return `<option value="true">上架中</option>
                            <option value="false">未上架</option>`
            }
            else{
                return `<option value="false">未上架</option>
                <option value="true">上架中</option>`
            }
        }
        
        GetStatus()

    </script>
}