@using System.Globalization;

@{
	ViewData["Title"] = "ArticleIndex";
}
@model Nsl_Core.Models.Dtos.Website.Index.IndexDto
<main>

	<!-- banner-container -->
	<section class="banner-container">
		<!-- banner-slide -->
		<div class="banner-slide owl-carousel">
			<!-- banner-wrap -->
			<div class="banner-wrap bg1 bg-cover position-relative">
				<div class="overlay opacity-5"></div>
				<div class="container text-over-bg">
					<div class="caption text-center text-white">
						<h2 class="text-uppercase text-white mb-15">
							<strong class="d-block fw-bold">開始您的學習之旅吧！</strong>
						</h2>
						<p class="large-text">
							NSL為您把關最高的教學品質，帶給您愉快的體驗也成就自我。
						</p>
						<a href="~/TeacherList/Index" class="btn btn-primary text-uppercase rounded-pill">
							現在就開始！
						</a>
					</div>
				</div>
				<!-- <span class="bg-img bg-cover position-absolute" -->
				<!-- style="background-image: url(assets/img/banner-1.jpg)"></span> -->
			</div>
			<!-- banner-wrap -->
			<div class="banner-wrap bg2 bg-cover position-relative">
				<div class="overlay opacity-5"></div>
				<div class="container text-over-bg">
					<div class="caption text-center text-white">
						<h2 class="text-uppercase text-white mb-15">
							<strong class="d-block fw-bold">教學與成長共存</strong>
							<strong class="d-block fw-bold">從中得到成就感與財富</strong>
						</h2>
						<p class="large-text">
							NSL教學團隊永遠為您敞開大門。
						</p>
						<a href="javascript:void(0);" class="btn btn-primary text-uppercase rounded-pill">
							立刻申請成為教師
						</a>
					</div>
				</div>
			</div>
			<!-- banner-wrap -->
			<div class="banner-wrap bg3 bg-cover position-relative">
				<div class="overlay opacity-5"></div>
				<div class="container text-over-bg">
					<div class="caption text-center text-white">
						<h2 class="text-uppercase text-white mb-15">
							<strong class="d-block fw-bold">一探究竟</strong>
							<strong class="d-block fw-bold">開發團隊</strong>
						</h2>
						<p class="large-text">
							歡迎您與我們聯絡
						</p>
						<a href="~/NSL/ContactUs" class="btn btn-primary text-uppercase rounded-pill">
							歡迎與我們聯絡
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about-us-container -->
	<!-- 老師 標題 簡介 -->
	<section class="section-spacer">
		<div class="container">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">關於我們</strong>
					<strong class="text-uppercase d-block">never stop learning</strong>
				</h2>
			</div>
			<div class="row align-items-center text-center">
				<div class="col-md-6 col-lg-4 mb-30 wow fadeInUp" data-wow-duration="600ms">
					<div class="about-block ps-md-0 ">
						<span class="icon text-primary icon-refresh"></span>
						<h5 class="my-15">
							<a href="javascript:void(0);">Nimble</a>
						</h5>
						<p>俐落學習，輕鬆展現精準效能，以簡潔乾淨的風格，引領時尚與優雅的生活態度。</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mb-45 wow fadeInUp" data-wow-duration="800ms">
					<div class="about-block active border-radius-2x">
						<span class="icon text-primary icon-heart"></span>
						<h5 class="my-15">
							<a href="javascript:void(0);">Sincere</a>
						</h5>
						<p>真摯之心，凝聚無限力量，為每一個瞬間注入真誠與深情，創造真實而有意義的人生。</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mb-30 wow fadeInUp" data-wow-duration="1s">
					<div class="about-block pe-md-0">
						<span class="icon text-primary icon-genius"></span>
						<h5 class="my-15">
							<a href="javascript:void(0);">Lifelong</a>
						</h5>
						<p>
							在持續學習的旅程中，探索無限可能，豐富人生智慧，成就卓越人生。
						</p>
					</div>
				</div>
			</div>
			<div class="row mt-15">
				<div class="col-12 wow fadeInUp" data-wow-duration="1s">
					<!-- progress-counter -->
					<ul class="progress-counter border-radius-2x bg-light list-unstyled d-flex flex-wrap text-center">
						<li class="px-15 py-45 col-4">
							<strong class="d-block mb-2 h1 fw-bold counter">@Model.Member</strong>
							<strong class="d-block fw-normal">Members</strong>
						</li>
						<li class="px-15 py-45 col-4">
							<strong class="d-block mb-2 h1 fw-bold counter">@Model.Teacher</strong>
							<strong class="d-block fw-normal">Teachers</strong>
						</li>
						<li class="px-15 py-45 col-4">
							<strong class="d-block mb-1 h1 fw-bold counter">@Model.FeedBack</strong>
							<strong class="d-block fw-normal">Feedback</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ourSec -->
	<section class="pb-55">
		<div class="container" style="width: 900px;">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">服務內容</strong>
					<strong class="text-uppercase d-block">4個你會喜歡NSL的原因</strong>
				</h2>
			</div>
			<div class="row text-center">
				<div class="col-md-6 col-lg-6 mb-45 wow fadeInUp" data-wow-duration="600ms">
					<!-- sBlock -->
					<div class="service-block">
						<span class="icon text-primary icon-calendar"></span>
						<div class="service-text">
							<h5 class="mb-15">
								<a href="javascript:void(0);">任選上課時間</a>
							</h5>
							<p>
								自己在課表選擇上課時間
								方便學習沒有壓力
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 mb-45 wow fadeInUp" data-wow-duration="800ms">
					<!-- sBlock -->
					<div class="service-block">
						<span class="icon text-primary icon-laptop"></span>
						<div class="service-text">
							<h5 class="mb-15">
								<a href="javascript:void(0);">專屬你的課程</a>
							</h5>
							<p>
								依照能力、需求、喜好
								為你打造客製化 有效進步的課程
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 mb-45 wow fadeInUp" data-wow-duration="1s">
					<!-- sBlock -->
					<div class="service-block">
						<span class="icon text-primary icon-video"></span>
						<div class="service-text">
							<h5 class="mb-15">
								<a href="javascript:void(0);">1 堂也能買</a>
							</h5>
							<p>
								沒有業務綁約 根據個人需求
								1、5、100 堂都能購買
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 mb-45 wow fadeInUp" data-wow-duration="1.2s">
					<!-- sBlock -->
					<div class="service-block">
						<span class="icon text-primary icon-profile-male"></span>
						<div class="service-text">
							<h5 class="mb-15">
								<a href="javascript:void(0);">自選上課老師</a>
							</h5>
							<p>
								✔ 影片 ✔ 履歷 ✔ 學生評價
								3大方向自選老師 進步看得見
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- our-works -->
	<section class="bg-light section-spacer pb-0">
		<div class="container">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">師資</strong>
					<strong class="text-uppercase d-block">語言分類</strong>
				</h2>
			</div>
			<div class="work-nav mb-45 text-center list-unstyled fw-semibold">
				<div class="justify-content-center languages-select">
					<a href="@Url.Content("~/TeacherList/Index?CategoryId=1")">中文</a>
					<a href="">英文</a>
					<a href="">日文</a>
					<a href="">韓文</a>
					<a href="">阿拉伯文</a>
					<a href="">西班牙文</a>
				</div>
				<span class="text-right languages-link">
					<a href="@Url.Content("~/TeacherList/Index")" class="languages-link-text"
					   style="color:#8E8E8E;">
						查看更多...
					</a>
				</span>
			</div>
		</div>
		<!-- grid-filter-wrap -->
		<div class="grid-filter-wrap d-flex flex-wrap"
			 style="width:1200px;margin-left:auto;margin-right:auto">
			<!-- element-item -->
			<div class="filtr-item" style="width:33%">
				<div class="element-item overflow-hidden">
					<div class="overlay"></div>
					<img src="~/picture/work5.jpg" class="img-fluid" alt="image description">
					<div class="over-bg-txt position-absolute p-30">
						<h5 class="mb-15">
							<a href="~/file/work5-b.jpg" data-fancybox="gallery"
							   data-caption="Mockup Design">中文</a>
						</h5>
						<p class="portfolio-description">
							不管你在找的是針對檢定考試的 中文檢定課程 、 中文認證課程 等等，還是以紮實中文實力提升的 中文會話課程 、 商用中文課程 、
							中文自然發音課程等，我們都可以滿足你的需求，並提供最即時的學生評價回饋數據，供您參考選擇。
						</p>
					</div>
				</div>
			</div>
			<!-- element-item -->
			<div class="filtr-item" style="width:33%">
				<div class="element-item overflow-hidden">
					<div class="overlay"></div>
					<img src="~/picture/work3.jpg" class="img-fluid" alt="image description">
					<div class="over-bg-txt position-absolute p-30">
						<h5 class="mb-15">
							<a href="~/file/work3-b.jpg" data-fancybox="gallery"
							   data-caption="Mockup Development">英文</a>
						</h5>
						<p class="portfolio-description">
							不管你在找的是針對檢定考試的 多益課程 、 雅思課程 、 托福課程 、 SAT課程等等，還是以紮實英文實力提升的 英文會話課程 、 商用英文課程
							、 英文自然發音課程等，我們都可以滿足你的需求，並提供最即時的學生評價回饋數據，供您參考選擇。
						</p>
					</div>
				</div>
			</div>
			<!-- element-item -->
			<div class="filtr-item" style="width:33%">
				<div class="element-item overflow-hidden">
					<div class="overlay"></div>
					<img src="~/picture/work2.jpg" class="img-fluid" alt="image description">
					<div class="over-bg-txt position-absolute p-30">
						<h5 class="mb-15">
							<a href="~/file/work2-b.jpg" data-fancybox="gallery"
							   data-caption="Photography">日文</a>
						</h5>
						<p class="portfolio-description">
							不管你在找的是針對檢定考試的 JLPT課程 、 日文檢定課程 等等，還是以紮實日文實力提升的 日文會話課程 、 商用日文課程 、
							日文自然發音課程等，我們都可以滿足你的需求，並提供最即時的學生評價回饋數據，供您參考選擇。
						</p>
					</div>
				</div>
			</div>
			<!-- element-item -->
			<div class="filtr-item" style="width:33%">
				<div class="element-item overflow-hidden">
					<div class="overlay"></div>
					<img src="~/picture/work4.jpg" class="img-fluid" alt="image description">
					<div class="over-bg-txt position-absolute p-30">
						<h5 class="mb-15">
							<a href="~/file/work4-b.jpg" data-fancybox="gallery"
							   data-caption="Marketing">韓文</a>
						</h5>
						<p class="portfolio-description">
							不管你在找的是針對檢定考試的 TOPIK課程 、 韓文檢定課程 等等，還是以紮實韓文實力提升的 韓文會話課程 、 商用韓文課程 、
							韓文自然發音課程等，我們都可以滿足你的需求，並提供最即時的學生評價回饋數據，供您參考選擇。
						</p>
					</div>
				</div>
			</div>
			<!-- element-item -->
			<div class="filtr-item" style="width:33%">
				<div class="element-item overflow-hidden">
					<div class="overlay"></div>
					<img src="~/picture/work8.jpg" class="img-fluid" alt="image description">
					<div class="over-bg-txt position-absolute p-30">
						<h5 class="mb-15">
							<a href="~/file/work8-b.jpg" data-fancybox="gallery"
							   data-caption="Search Engine Optimization">阿拉伯文</a>
						</h5>
						<p class="portfolio-description">
							不管你在找的是針對檢定考試的 阿拉伯文檢定課程 、 阿拉伯文認證課程 等等，還是以紮實阿拉伯文實力提升的 阿拉伯文會話課程 、 商用阿拉伯文課程
							、 阿拉伯文自然發音課程等，我們都可以滿足你的需求，並提供最即時的學生評價回饋數據，供您參考選擇。
						</p>
					</div>
				</div>
			</div>
			<!-- element-item -->
			<div class="filtr-item" style="width:33%">
				<div class="element-item overflow-hidden">
					<div class="overlay"></div>
					<img src="~/picture/work1.jpg" class="img-fluid" alt="image description">
					<div class="over-bg-txt position-absolute p-30">
						<h5 class="mb-15">
							<a href="~/file/work1-b.jpg" data-fancybox="gallery"
							   data-caption="Social Marketing">西班牙文</a>
						</h5>
						<p class="portfolio-description">
							不管你在找的是針對檢定考試的 阿拉伯文檢定課程 、 阿拉伯文認證課程 等等，還是以紮實阿拉伯文實力提升的 阿拉伯文會話課程 、 商用阿拉伯文課程
							、 阿拉伯文自然發音課程等，我們都可以滿足你的需求，並提供最即時的學生評價回饋數據，供您參考選擇。
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- CH block-->
	<section class="ch-block bg-primary py-25" style="height:120px">
		<div class="container">
			<div class="row">
				<div class="col-xl-11 mx-auto">
					<div class="text-center">
						<h5 class="h5 fw-bold text-white text-uppercase py-2 mt-2">
							開始選擇你的第一個老師吧!
						</h5>
						<a href="@Url.Content("~/TeacherList/Index")"
						   class="btn btn-white mx-auto ms-15 rounded-pill text-uppercase">點擊去看看</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial -->
	<section class="section-spacer">
		<div class="container">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">評論</strong>
					<strong class="text-uppercase d-block">給老師們的回饋</strong>
				</h2>
			</div>
			<!-- clientSlider -->
			<div class="testi-slider owl-carousel">
				<!-- clntBlock -->
				@{
					foreach (var comment in Model.Comments)
					{
						string[] splitEmail = comment.MemberEmail.Split("@");
						int length = splitEmail[0].Length - 4;
						string anoymous = string.Empty;
						for (int i = 0; i < length; i++)
						{
							anoymous += "*";
						}
						string maskEmail = splitEmail[0].Substring(0, 2) + anoymous + splitEmail[0].Substring(splitEmail[0].Length - 2);
						<div class="testi-block text-center border-radius-3x">
							<div class="row mb-4">
								<h5 class="mb-1 text-center mt-2">@comment.TeacherName</h5>

								<ul class="list-unstyled rating-list d-flex ps-4 justify-content-center">
									@{
										for (int i = 0; i < comment.Satisfaction; i++)
										{
											<li><a href="javascript:void(0);" class="fas fa-star"></a></li>
										}
									}
								</ul>
								<figure class="figure-teacher">
									@{
										if (comment.ImageName == null) comment.ImageName = "default.jpg";
									}
									<img src="~/uploads/@comment.ImageName">
								</figure>
								
							</div>
							<div class="testi-text position-relative d-flex">
								<span class="start-quote">“</span>
								<p>
									@comment.CommentContent
								</p>
								<span class="end-quote">”</span>
							</div>
							<div class="author-text">
								<h6>@maskEmail</h6>
								<span class="fs-14">@comment.Category</span>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</section>
	<!-- Blog -->
	<section class="bg-light pt-100 pb-70">
		<div class="container">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">
						文章列表
					</strong>
					<strong class="text-uppercase d-block" style="display: inline-block;">
						最新消息
						<span class="text-right languages-link watch-more" style="right:15%">
							<a href="@Url.Content("~/Article/Index")" class="languages-link-text"
							   style="color:#8E8E8E;">
								查看更多...
							</a>
						</span>
					</strong>
				</h2>
			</div>
			<div class="row">
				@{
					foreach (var article in Model.Articles)
					{
						var postTime = article.CreatedTime.ToString("dd MMM, yyyy", new CultureInfo("en-US"));
						<div class="col-sm-6 col-lg-4 mb-30 wow fadeInUp" data-wow-duration="600ms">
							<!-- blogHolder -->
							<div class="blog-block text-center text-sm-start">
								<div class="article-pic-frame">
									<figure class="article-pic-wrapper">
										@{
											if(article.Picture == null)
											{
												article.Picture = "LOGO-3.png";
											}
										}
										<img src="~/uploads/@article.Picture" class="w-100 img-fluid border-radius-2x"
											 alt="image description">
									</figure>
								</div>

								<ul class="meta-desc list-unstyled my-15 d-flex flex-wrap justify-content-center justify-content-md-start text-capitalize">
									<li>by admin</li>
									<li><time>@postTime</time></li>
								</ul>
								<div class="blog-body">
									<h5 class="mb-2">
										<a href="@Url.Content("~/Article/Detail/")@article.Id">
											@article.Title
										</a>
									</h5>
									<p>
										@article.ArticleContent
									</p>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</section>
	<!-- Contact -->
	<section class="pt-100">
		<div class="container">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">想成為老師嗎</strong>
					<strong class="text-uppercase d-block">點擊下方按鈕加入吧！</strong>
				</h2>
			</div>
			<!-- contact-form -->
			<div class="row teacher-apply">
				<div class="col-8" style="margin: 0;">
					<figure>
						<img src="~/picture/Teacher-Image.jpg" style="width:100%;height:50%">
					</figure>
				</div>
				<div class="col-4 text-center">
					<h3 class=" ">成為NSL線上老師</h3>
					<p class="mt-3">帶給你更多更自由的選擇</p>
					<div class="pt-3 text-left ml-2"></div>
					<ol style="margin-left: 0px;">
						<strong>
						<li class="mt-3">自訂理想 薪資價位</li>
						<li class="mt-3">自由安排 授課時間</li>
						<li class="mt-3">在家工作 兼顧生活</li>
						</strong>
					</ol>
					<div class="apply-teacher-btn">
						<a href="@Url.Content("~/TeacherApply/Index")"
						   class="btn btn-white mx-auto ms-15 rounded-pill text-uppercase border-btn-apply">點擊去看看</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- mapHolder -->
	<section class="py-5">
		<div class="container">
			<div class="section-header text-center">
				<h2>
					<strong class="h6 fw-normal mb-15 text-primary text-capitalize d-block">我們的地址</strong>
					<strong class="text-uppercase d-block">來成為我們的一員吧！</strong>
				</h2>
			</div>
			<div class="map-holder">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0109953346105!2d121.53843288072346!3d25.033700920618188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd37971c7cb%3A0x40ba641f27b6d4e3!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b6p6IiI5Y2X6Lev5LiA5q61Mzkw6Jmf!5e0!3m2!1szh-TW!2stw!4v1686120705455!5m2!1szh-TW!2stw"
						style="border:0;" allowfullscreen loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>
</main>